<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd 
                     http://www.springframework.org/schema/context   
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd 
                     http://www.springframework.org/schema/aop 
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
                  
    <aop:aspectj-autoproxy proxy-target-class="true"/>  <!-- force use cglib,not use jdk  -->
	<context:component-scan base-package="com.szgr">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
 	<import resource="classpath:spring/hibernate.xml"/>
   <!--   <import resource="classpath:spring/system_orcle.xml"/>   --> 
    <import resource="classpath:spring/hibernate-mappings.xml"/>
    
	<bean id="propertyConfigurer2"
		class="com.szgr.common.PropertyConfigurer.PropertyConfigurerAcesse">
		<property name="order" value="2" />
		<property name="locations">
			<list>
				<value>classpath:spring\ftpinfo.properties</value>
				<value>classpath:spring\mapinfo.properties</value>
				<value>classpath:spring\config.properties</value>
			</list>
		</property>
	</bean>    
    
</beans>
